<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Prayer Notebook</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/prayers" routerLinkActive="active">All Prayers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/prayers/new" routerLinkActive="active">Add Prayer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/answered" routerLinkActive="active">Answered Prayers</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
